.todoHeading {
    font-weight: 900;
    font-size: 50px;
    margin: 20px;
    margin-bottom: 40px;
    color: #f1c40f;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #000; /* Embossed text */
}
